.App{
    display: flex;
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(56, 56, 118);
    justify-content: center;
}

.butt {
    padding : 5px 10px;
    font-size: 20px;
    border-color: blue;
    margin: 5px;
    border-radius: 10%;
    color: #fff;
    box-shadow: 0 0 40px 40px blue inset, 0 0 0 0 blue;
    transition: all 150ms ease-in-out;
    
    &:hover {
      color: black;
      background-color: antiquewhite;
    }
  }
  .tasklist{
    display: flex;
    flex-direction: column;
  }